# python
PYTHONUNBUFFERED=1

# database
DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=postgres
DB_PORT=5432

# celery
BROKER_URL=amqp://guest:guest@rabbit:5672//

# app
# DJANGO_DEBUG should be one of (true, false)
# DJANGO_ALLOWED_HOSTS should be comma separated list of hosts
DJANGO_SETTINGS_MODULE=coraline.settings
DJANGO_SECRET_KEY=secretkey
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# number of proxies the app is running behind (needed for throttling and ip restrictions)
NUM_PROXIES=2

# number of gunicorn workers
WORKERNUM=1

# Uncomment to enable sentry
# SENTRY_DSN=http://something
